svg(viewBox="0 0 1000 300")
  // Symbol
  symbol#s-text
    text(text-anchor="middle", x="50%", y="50%", dy=".35em")
      | happy new year 2024
  // Duplicate symbols
  use.text(xlink:href="#s-text")
  use.text(xlink:href="#s-text")
  use.text(xlink:href="#s-text")
  use.text(xlink:href="#s-text")
  use.text(xlink:href="#s-text")